/* deleting extra spaces */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styling global button */
.btn{
  font-size: 18px;
  font-weight: 700;
  background-color: #d1393c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 25px;
}
/* styling header part */
.header-part{
  padding: 80px 120px;
  height: 700px;
}
/* left part of header */
.header-part .left{
  float: left;
  width: 50%;
}
.header-part .left h1{
  font-size: 80px;
}
.header-part .left h1 span{
  color: #d1393c;
  font-size: 100px;
}
.header-part .left p{
  font-size: 20px;
  line-height: 30px;
}
/* right part of header */
.header-part .right {
  float: right;
  width: 50%;
  text-align: center;
}
.header-part .right img{
  border-radius: 50%;
  width: 70%;
}
/* styling breakfast part */
.breakfast-part{
  height: 700px;
  padding: 80px 120px;
  background-color: rgba(231, 228, 228, 0.87);
}
.breakfast-part .card-part{
  float: left;
  width: 35%
}
.breakfast-part .card-part .card{
  width: 350px;
  background-color: #fff;
  height: 400px;
  padding: 40px;
  margin: 50px 0 0 50px;
  position: absolute;
}
.breakfast-part .card-part .card h2{
  font-size: 35px;
}
.breakfast-part .card-part .card p{
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}
.breakfast-part .pic-part{
  float: right;
  width: 65%;
}
.breakfast-part .pic-part img{
  width: 100%;
  height: 500px
}
/* styling fastfood part */
.fastfood-part{
  background-image: url("./imgs/fastfood.jpg");
  height: 700px;
  width: 100%;
  color: #fff;
  background-position: center;
  background-size: cover;
}
.fastfood-part .content{
  padding: 200px 120px;
}
.fastfood-part .content p{
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.fastfood-part .content h1{
  font-size: 100px;
}
/* styling delivary part */
.delivary-part{
  height: 700px;
  padding: 80px 120px;
  width: 100%;
}
.delivary-part .left{
  float: left;
  width: 50%;
  text-align: center;
}
.delivary-part .left img{
  width: 70%;
  border-radius: 50%
}
.delivary-part .right{
  width: 50%;
  float: right;
  height: 500px;
  background-color: #f0f0f0;
}
.delivary-part .right .delivary-card{
  padding: 90px;
}
.delivary-part .right .delivary-card h2{
  font-size: 40px;
}
.delivary-part .right .delivary-card p{
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}
/* styling footer part */
.footer-part{
  height: 700px;
  padding: 80px 120px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.footer-part .left{
  float: left;
  width: 45%;
}
.footer-part .left img{
  width: 100%;
  height: 500px;
}
.footer-part .right{
  float: right;
  width: 55%;
  text-align: center;
  padding: 80px;
}
.footer-part .right .footer-content .title{
  font-size: 25px;
  font-weight: 500;
}
.footer-part .right .footer-content form input{
  padding: 20px;
  width: 250px;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer-part .right .footer-content form button{
  border-radius: 0;
}
.footer-part .right .address{
  padding: 40px;
}
.footer-part .right .address h3{
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0;
}
.footer-part .right .address ul li{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px 0;
  list-style: none;
}